@import "tailwindcss";
body{
  padding: 8px;
}
.table {
  width: 75rem;
  margin: auto;
}
.customHeader .p-column-header-content {
  flex-direction: row-reverse;
  align-items: center;
  gap: 4px;
}

